name: kn_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - numpy
  - scipy
  - matplotlib
  - sympy
  - pytest
  - pip:
      - torch --extra-index-url https://download.pytorch.org/whl/cu128