name: Python Tests

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main"]

jobs:
  test:
    runs-on: ubuntu-latest
    
    # Required for conda-based setup
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: kn_env
        environment-file: environment.yml
        auto-activate-base: false

    - name: Run tests with Pytest
      run: |
        pytest